td{
  border: 1px solid black;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: rgba(56, 52, 52, 0.74);
}

td:not(.revealed):hover {
  cursor: pointer;
}
table{
  border-collapse: collapse;
  margin: auto;
}

.revealed{
  background-color: rgba(56, 52, 52, 0.322);
  cursor: default;
}

.mined{
  background-image: url(../images/bomb.png);
  background-size: cover;
}

.flagged{
  background-image: url(../images/flag.png);
  background-size: cover;
}

h1{
  text-align: center;
}